.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid #e2e8f0;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  position: relative;
}