# Server Configuration
PORT=4000
NODE_ENV=development

# Client URL (for CORS)
CLIENT_URL=http://localhost:3000

# Database (add when ready)
# DATABASE_URL=postgresql://user:password@localhost:5432/zagotour

# JWT Secret (add when implementing auth)
# JWT_SECRET=your-secret-key-here

CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret